@import url('https://fonts.googleapis.com/css?family=Roboto:400');
*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #fff;
	background: #000;
	overflow: hidden;
	font-size: 0.85rem;
}

.demo-1 {
	color: #ffffff;
}

a {
	text-decoration: none;
	color: inherit;
	outline: none;
}

a:hover,
a:focus {
	color: #333;
}

/* Header */
.header {
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	padding: 2vmax;
	z-index: 1;
}

.header_title {
	font-size: 2em;
	margin: 0;
	padding: 0 1em;
	color: #fff;
}

.header_tagline {
	margin: 0;
}

/* Top Navigation Style */
.links {
	position: relative;
	display: flex;
	justify-content: center;
	text-align: center;
	white-space: nowrap;
}

/* Demo links */
.demos {
	margin: 0 0 0 3rem;
}

.demo {
	margin: 0 1em 0.5em 0;
	padding: 0 0 0.25em;
}

.demo:hover,
.demo--current {
	color: rgb(255, 255, 255);
}

/* Content */
.content {
	padding: 3em 0;
}

.content.main {
	min-height: 100vh;
	padding: 0;
}

.canvas-wrapper {
	position: relative;
	min-height: 100vh;
	overflow: hidden;
}

canvas {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
}

@keyframes noiseLoad {
	from {
		transform: scale(0);
		background: rgb(255, 255, 255);
	}

	to {
		transform: scale(1);
		background: rgb(0, 0, 0);

	}
}


.upload-btn::before,
.toggle-btn {
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: currentColor;
	position: absolute;
	bottom: 2vmax;
	border: 1px solid;
	width: 255px;
}

.upload-btn::before {
	content: 'Upload your track';
	display: inline-block;
	left: 2vmax;
	outline: none;
	white-space: nowrap;
	-webkit-user-select: none;
	cursor: pointer;
}

.upload-btn:hover::before {
	color: #fff;
}

.toggle-btn {
	background: transparent;
	color: currentColor;
	right: 2vmax;
}

.toggle-btn:focus {
	outline: none;
}

.toggle-btn:hover {
	color: #fff;
}

@media screen and (max-width: 55em) {
	.codrops-header {
		flex-direction: column;
		justify-content: center;
	}
	.demos {
		width: 100%;
		margin: 1em 0 0;
		text-align: center;
	}
	.toggle-btn {
		right: 10px;
		bottom: 5.5em;
		width: calc(100% - 20px);
	}
	.upload-btn::before {
		position: absolute;
		bottom: 9em;
		left: 10px;
		width: calc(100% - 20px);
	}
}
